.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.idCardPopup {
  position: relative;
  border-radius: 10px;
  background-color: var(--secondary-background);
  width: 95%;
  max-width: 500px;
  max-height: 95vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
  gap: 16px;
  text-align: left;
  font-family: var(--font-primary);
  color: var(--main-text);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.headerTextGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  min-height: 46px;
}

.adjustStudentPhoto {
  font-size: 18px;
  line-height: 100%;
  font-weight: 600;
  color: var(--main-text);
}

.makeSureTo {
  font-size: 13px;
  line-height: 130%;
  font-weight: 500;
  color: var(--red);
}

.previewContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.navButton:hover {
  background-color: #f0f0f0;
}

.cardPreviewWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 380px;
  overflow: hidden;
}

.cardScaleContainer {
  width: 398px;
  height: 631px;
  transform: scale(0.6);
  transform-origin: center top;
  margin-bottom: -252px;

  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.pageIndicator {
  display: flex;
  gap: 6px;
  margin-top: -5px;
}
.dot,
.dotActive {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e0e0e0;
}
.dotActive {
  background-color: var(--main-accent);
}

.idCardNumberInput {
  align-self: stretch;
  height: 44px;
  border-radius: 5px;
  background-color: var(--main-background);
  border: 1px solid transparent;
  padding: 0 16px;
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-size: 14px;
  color: var(--main-text);
  outline: none;
  transition: all 0.2s ease;
}

.idCardNumberInput::placeholder {
  color: var(--main-grey);
  font-weight: 400;
}

.footer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 8px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.cancelButton {
  min-width: 90px;
  justify-content: center;
}

.exportButton {
  min-width: 130px;
  justify-content: center;
  background-color: var(--main-accent);
}
