.idCardBackBase {
  width: 398px;
  height: 631px;
  position: relative;
  padding: 18px 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: var(--font-primary);
  font-size: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.bgEcp {
  background-color: #a31e23; 
  color: #facd28; 
}

.bgEcp .addressText,
  .bgEcp .value,
  .bgEcp .disclaimer,
  .bgEcp .spanHighlight,
  .bgEcp .rulesTitle,
  .bgEcp .rulesList li {
  color: var(--text-accent); 
}

.bgEcp .label,
.bgEcp .nisnLabel {
  color: #facd28; 
}

.bgMs {
  background-color: #6a70a4; 
  color: var(--main-text); 
}

.bgMs .addressText,
  .bgMs .disclaimer,
  .bgMs .value,
  .bgMs .spanHighlight,
  .bgMs .rulesTitle,
  .bgMs .rulesList li {
  color: var(--text-accent); 
}

.bgMs .label,
.bgMs .nisnLabel {
  color: var(
    --main-text
  ); 
}

.bgHs {
  background-color: #facd28; 
  color: var(--main-text); 
}

.bgHs .addressText,
.bgHs .disclaimer {
  color: #2b2b2b; 
}

.bgHs .value,
.bgHs .spanHighlight {
  color: #00206b;
}

.bgHs .label,
.bgHs .rulesTitle,
.bgHs .rulesList li,
.bgHs .nisnLabel {
  color: var(--main-text); 
}

.contentWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.logoSmall {
  width: 140px;
  object-fit: contain;
}

.addressText {
  font-size: 12px;
  line-height: 1.2;
}

.studentDataGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dataRow {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: var(--font-weight-semibold);
}

.nisnLabel {
  font-weight: var(--font-weight-semibold);
}

.value {
  font-weight: 500;
}

.datesGroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.rulesGroup {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rulesTitle {
  line-height: 130%;
}

.rulesList {
  margin: 0;
  padding-left: 18px;
  line-height: 130%;
}

.disclaimer {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  line-height: 1.3;
}
