.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 16px 0 16px;
  box-sizing: border-box;
  gap: 64px;
  text-align: left;
  font-size: 16px;
  color: var(--text-accent);
  font-family: var(--font-primary);
  margin-top: 24px;
  margin-bottom: 24px;
}

.noteSection {
  flex: 1;
  border-radius: 5px;
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px;
  gap: 18px;
}

.noteLabel {
  position: relative;
  line-height: 100%;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--text-accent);
}

.noteText {
  position: relative;
  line-height: 100%;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: var(--text-accent);
}

.noteContent {
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--text-accent);
}

.buttonSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  color: var(--main-accent);
}

.resetButton {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
}

.submitButton {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 24px;
  }

  .buttonSection {
    flex-direction: column;
    align-items: stretch;
  }

  .resetButton,
  .submitButton {
    width: 100%;
  }
}