.contentWrapper {
  display: flex;
  position: relative;
  padding-top: 76px;
}

.mainContent {
  flex-grow: 1;
  padding: 0 18px 0 18px;
  background-color: var(--main-background);
  transition: margin-left 0.3s ease-in-out;
  min-height: calc(100vh - 76px);
  box-sizing: border-box;
}

.mainContent.sidebarOpen {
  margin-left: 280px;
}

.mainContent.sidebarClosed {
  margin-left: 0;
}

@media (max-width: 1000px) {
  .mainContent {
    padding: 16px;
  }
  .mainContent.sidebarOpen {
    margin-left: 50px;
  }
}

:root {
  --sidebar-compact-width: 56px;
  --sidebar-gap: 16px;
}

body.sidebar-compact .mainContent.sidebarOpen {
  margin-left: calc(var(--sidebar-compact-width) + var(--sidebar-gap));
}

.mainContent.sidebarClosed {
  margin-left: 0;
}
