/* src/components/layout/Main.module.css */

.contentWrapper {
  display: flex;
  position: relative;
  padding-top: 76px; 
}

.mainContent {
  flex-grow: 1;
  padding: 24px;
  background-color: var(--main-background);
  transition: margin-left 0.3s ease-in-out;
  min-height: calc(100vh - 76px); /* Pastikan konten mengisi tinggi layar */
  box-sizing: border-box;
}

/* Saat sidebar terbuka, dorong konten utama ke kanan */
.mainContent.sidebarOpen {
  margin-left: 280px;
}

/* Saat sidebar tertutup, konten menjadi full-width */
.mainContent.sidebarClosed {
  margin-left: 0;
}

/* Di layar kecil, pastikan padding disesuaikan */
@media (max-width: 1000px) {
  .mainContent {
    padding: 16px;
  }
  .mainContent.sidebarOpen {
    margin-left: 50px;
  }
  
 
}