.columnController {
  position: relative;
  background-color: var(--secondary-background);
  box-sizing: border-box;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--main-text);
  font-family: var(--font-primary);
  border-bottom: 3.5px solid #7a7a7a;
}

/* Tambahkan ini ke ColumnHeader.module.css */
.popupDateRange {
  /*     Perhitungan untuk menggeser pop-up ke kiri.
    1. Geser ke kiri sebesar lebar pop-up (320px).
    2. Tambahkan margin kiri/padding kolom (24px).
    Hasilnya akan membuat pop-up dimulai dari tepi kiri kolom.
  */
  right: auto;
  left: 0; /* Mulai dari tepi kiri kolom (ColumnHeader) */

  /* Hapus: top: calc(100% + 10px); karena ini sudah didefinisikan di FilterPopUp.module.css */

  /* Untuk memastikan pop up "keluar" sedikit dari tabel, kita akan menggunakan teknik posisi pada FilterPopup.module.css */
}

.columnName {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.loremIpsum {
  position: relative;
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  min-height: 24px;
}

.disabledAction {
  visibility: hidden;
}
