.columnController {
  position: relative;
  background-color: var(--secondary-background);
  box-sizing: border-box;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--main-text);
  font-family: var(--font-primary);
}

.popupDateRange {
  right: auto;
  left: 0;
}

.columnName {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.loremIpsum {
  position: relative;
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  min-height: 24px;
}

.disabledAction {
  visibility: hidden;
}

.control {
  display: flex;
  align-items: center;
}

.isDisabled {
  opacity: 0.4;
  pointer-events: none; 
  cursor: not-allowed;
  filter: grayscale(100%);
}

.titleDisabled{
  opacity: 0;
}