.gateAttendanceContainer {
  padding: 25px 32px 25px 32px;
  background-color: var(--secondary-background);
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.headerContainer {
  width: 100%;
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pageTitle {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 32px;
  line-height: normal; 
  margin: 0;
}

.searchAndFilterContainer {
  display: flex;
  align-items: center;
  gap: 24px; 
  margin-top: 20px; 
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 426px;
  height: 40px;
  border: 2px solid var(--main-grey);
  border-radius: 5px;
  background-color: var(--secondary-background);
}

.searchInput {
  flex: 1;
  height: 100%;
  padding: 0 18px; 
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.searchInput::placeholder {
  color: var(--main-accent);
  opacity: 0.8;
  font-size: 15px;
  font-family: var(--font-primary);
}

.searchIcon {
  position: absolute;
  right: 18px; 
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}


.rightSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px; 
  flex-shrink: 0;
}

.settingIconContainer {
  width: 45px; 
  height: 45px; 
  cursor: pointer;
}

.settingIcon {
  width: 100%; 
  height: 100%; 
}

.checkInOutContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px 0; 
  background-color: transparent;
  color: var(--main-text);
  box-sizing: border-box;
}

.checkInText {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  text-decoration: underline;
  font-size: 16px;
  position: relative;
  line-height: 100%;
  min-width: 95px; 
  text-align: right; 
  cursor: default; 
}

.actionIcon {
  width: 76px; 
  height: 38px; 
  flex-shrink: 0;
  cursor: pointer; 
  transition: transform 0.1s ease;
  object-fit: contain; 
}

.actionIcon:active {
  transform: scale(0.95); 
}

.sessionSwitcher {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 3px;
  background-color: var(--main-background);
  border-radius: 6px;
}

.sessionButton {
  flex: 1;
  padding: 12px 0;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-primary);
  cursor: pointer;
  color: var(--main-grey);
}

.activeSession {
  background-color: var(--secondary-accent);
  color: var(--main-accent);
}

.tablePlaceholder {
  width: 100%;
  min-height: 300px;
}