.tableRow {
  display: grid;
  grid-template-columns:
    minmax(142px, 1fr)
    minmax(268px, 1fr)
    minmax(268px, 1fr)
    minmax(268px, 1fr)
    minmax(158px, 1fr);
  border-bottom: 1px solid var(--main-grey);
  background-color: var(--secondary-background);
  color: var(--main-text);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
}

.tableRow:last-child {
  border-bottom: none;
}

.tableCell {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

.actionCell {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.actionContainer {
  display: flex;
  gap: 12px;
}

.actionButton {
  background: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.actionButton:hover {
  background-color: var(--secondary-accent);
}

.icon {
  width: 25px;
  height: 25px;
  transition: color 0.2s;
}
