.contentParagraph {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
}
.answer {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
}
.paragraph {
  margin: 0;
}
.container {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 24px;
  color: var(--main-text);
  font-family: var(--font-primary);
}

