.usersContainer {
  padding: 20px 32px 20px 32px;
  background-color: var(--secondary-background);
  margin-top: 16px;
  margin-bottom: 16px;
}

.pageTitle {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 35px;
}

.usersHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button2Parent {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 27px;
}

.searchBar {
  margin-top: -23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  position: relative;
  width: 426px;
  border: 2px solid #7a7a7a;
  border-radius: 5px;
  background-color: #fff;
  height: 40px;
}

.searchInput {
  flex: 1;
  height: 100%;
  padding: 0 18px; /* hilangkan padding vertikal */
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center; /* pusatkan konten vertikal */
}

.searchInput::placeholder {
  color: #5f84fe;
  opacity: 0.8;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.searchIconImg {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.tableContainer {
  margin-top: -7px;
  background: #fff;
  border: 1px solid var(--main-grey);
  width: 100%;
}

.tableLayout {
  display: grid;
  grid-template-columns:
    minmax(142px, 1fr)
    minmax(268px, 1fr)
    minmax(268px, 1fr)
    minmax(268px, 1fr)
    minmax(158px, 1fr);
  border-bottom: 4px solid var(--main-grey);
}

.tableHeader {
  composes: tableLayout;
}

.tableBody {
  display: flex;
  flex-direction: column;
}
