.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 41, 59, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2002;
}

.popUp {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  box-sizing: border-box;
  gap: 25px;
  text-align: center;
  font-family: var(--font-primary);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 80px;
  height: auto;
  color: var(--red);
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-primary);
  color: var(--red);
  margin: 0;
}

.message {
  font-size: 16px;
  font-family: var(--font-primary);
  color: var(--main-grey);
  line-height: 1.5;
  margin: 0;
}

.registrationInfo {
  background-color: var(--secondary-background);
  border-radius: 0;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.infoRow {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-family: var(--font-primary);
}

.infoLabel {
  width: 150px;
  min-width: 150px;
  font-weight: 400;
  color: var(--main-text);
}

.separator {
  margin-right: 15px;
  font-weight: 400;
  color: var(--main-text);
}

.infoValue {
  flex-grow: 1;
  font-weight: 550;
  color: var(--main-text);
}

.rowBtn {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.yesBtn {
  width: 130px;
  border-radius: 5px;
  background-color: #5f84fe;
  border: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border 0.2s;
  padding: 10px 15px;
  box-sizing: border-box;
  outline: none;
}

.yesBtn:hover {
  background: #466edc;
}

.cancelBtn {
  width: 120px;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #5f84fe;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #5f84fe;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border 0.2s;
  padding: 10px 15px;
  box-sizing: border-box;
  outline: none;
}

.cancelBtn:hover {
  background: #f5faff;
  border-color: #466edc;
  color: #466edc;
}
