.atom-checkbox {
  display: inline-flex; 
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.atom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url("../../assets/CB_Deactive.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.atom-checkbox input[type="checkbox"]:checked + .custom-checkbox {
  background-image: url("../../assets/CB_Active.svg");
}



@media (max-width: 600px) {
  .custom-checkbox {
    width: 15px;
    height: 15px;
  }
}