.transportation {
  position: relative;
  line-height: 100%;
  font-family: 'Poppins', sans-serif;
	font-weight: Bold;
}
.txtTransportation {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ownCar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  gap: 10px;
}
.pickupPointAnswer {
  flex: 1;
  position: relative;
  line-height: 100%;
  font-family: 'Poppins', sans-serif;
	font-weight: Bold;
}
.pickupPoint {
  flex: 1;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  gap: 10px;
}
.schoolBusDetails {
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.checkBoxPolicy {
  position: relative;
  line-height: 100%;
  font-family: 'Poppins', sans-serif;
	font-weight: Regular;
}
.top {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 12px;
  gap: 32px;
}
.residenceHall {
  width: 200px;
  position: relative;
  line-height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-family: 'Poppins', sans-serif;
	font-weight: Bold;
}
.txtRh {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Poppins;
}
.field {
  font-family: 'Poppins', sans-serif;
	font-weight: Regular;
}