.content {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	font-size: 24px;
	color: var(--main-text); 
	font-family: var(--font-primary); 
}
.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.fullName {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 6px 12px;
	gap: 10px;
	font-size: 24px;
}
.contentFullName {
	position: relative;
	line-height: 100%;
	font-family: var(--font-primary); 
	font-weight: var(--font-weight-regular); 
}
.answer {
	position: relative;
	line-height: 100%;
	font-family: var(--font-primary); 
	font-weight: var(--font-weight-bold); 
}
.right {
	align-self: stretch;
	width: 900px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
	margin-right: 100px;
}
.top {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}
.contentRight {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;	
}
.rankInFamily {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 6px 12px;
	box-sizing: border-box;
	gap: 10px;
}
.address {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: 8px 12px;
	gap: 6px;
}
.parent {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 3px;
}
.field {
	position: relative;
	line-height: 100%;
	font-family: var(--font-primary); 
	font-weight: var(--font-weight-regular); 
}