.studentsStatus {
  position: relative;
  line-height: 100%;
}
.header {
  align-self: stretch;
  border-radius: 5px;
  background-color: #e4eefa;
  border-left: 7px solid #8dc1ff;
  box-sizing: border-box;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 12px 19px;
}
.radioBtnChild {
  position: absolute;
  height: 110.71%;
  width: 110.71%;
  top: -5.36%;
  right: -5.36%;
  bottom: -5.36%;
  left: -5.36%;
  border-radius: 50%;
  border: 3px solid #5f84fe;
  box-sizing: border-box;
}
.radioBtn {
  width: 28px;
  position: relative;
  height: 28px;
}
.new {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  gap: 10px;
}
.ellipseDiv {
  position: absolute;
  height: 57.14%;
  width: 57.14%;
  top: 21.43%;
  right: 21.43%;
  bottom: 21.43%;
  left: 21.43%;
  border-radius: 50%;
  background-color: #5f84fe;
}
.s25410001 {
  flex: 1;
  position: relative;
  line-height: 100%;
}
.studentId {
  align-self: stretch;
  width: 400px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  gap: 10px;
}
.old {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.top {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding: 0px 12px;
  gap: 32px;
}
.bySelectingStudentsContainer {
  position: relative;
  font-size: 16px;
  line-height: 100%;
}
.elementarySchool {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding: 12px;
  gap: 10px;
}
.bottom {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 12px;
  font-size: 14px;
  color: #ff4d4d;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  min-width: 422px;
  font-size: 16px;
}
.studentStatus {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Poppins;
}

