.content {
  width: 100%;
  position: relative;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Poppins;
}
.jhoanne {
  position: relative;
  line-height: 100%;
}
.fullName {
  align-self: stretch;
  flex: 1;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 10px;
}
.left {
  align-self: stretch;
  width: 834.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.annie {
  flex: 1;
  position: relative;
  line-height: 100%;
}
.nickname {
  flex: 1;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 10px;
  max-width: 220px;
}
.gender {
  flex: 1;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 10px;
  max-width: 226px;
}
.b2 {
  width: 30px;
  position: relative;
  line-height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 30px;
}
.age {
  flex: 1;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 10px;
  max-width: 108px;
}
.rankInFamily {
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 10px;
  max-width: 240px;
}
.right {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 27px;
}
.top {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.citizenship {
  flex: 1;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 10px;
}
.dob {
  flex: 1;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  gap: 10px;
}
.sec1 {
  align-self: stretch;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 6px 12px;
}
.top1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.sec2 {
  align-self: stretch;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 12px;
}
.b7 {
  align-self: stretch;
  width: 8px;
  position: relative;
  line-height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
}
.address {
  flex: 1;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
}
.sec3 {
  align-self: stretch;
  flex: 1;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 6px 12px;
} 