.paginationControlsMinimal {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 22px 0px;
  box-sizing: border-box;
  gap: 10px;

  text-align: center;
  font-size: 14px;
  color: #5f84fe;
  font-family: Poppins, sans-serif;
}

.pageIndicatorMinimal {
  position: relative;
  line-height: 100%;
  font-weight: 600;
  margin: 0;
}

.paginationButtonGroup {
  display: flex;
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  color: #6a6a6a;
}

.paginationButtonGroup button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-size: 20px;
}

.paginationButtonGroup button:disabled {
  cursor: not-allowed;
  color: #cccccc;
}

.pageNumberWrapper {
  width: 64px; 
  border-bottom: 1px solid #6a6a6a; 
  box-sizing: border-box;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-size: 14px;
  color: #5f84fe;
}

.pageNumberWrapper span {
  font-weight: 600;
}

.pageNumberInput {
  background: none;
  border: none;
  outline: none;

  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: inherit;

  width: 100%;
  height: 100%;
  line-height: 20px;
  padding: 0; 
  margin: 0;
}
