.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  backdrop-filter: blur(4px);
  align-items: center;
  z-index: 2001;
}

.popupContent {
  width: 500px;
  border-radius: 10px;
  background-color: var(--secondary-background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  box-sizing: border-box;
  gap: 20px;
  text-align: left;
  font-family: var(--font-primary);
}

.title {
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--font-weight-semibold);
  color: var(--red);
}

.messageContainer {
  font-weight: var(--font-weight-regular);
  color: var(--main-grey);
  font-size: 16px;
  line-height: 1.5;
}

.messageContainer p {
  margin: 0;
}

.confirmationText {
  font-weight: var(--font-weight-semibold);
  color: var(--red);
  font-size: 16px;
}

.buttonGroup {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancelButton,
.confirmButton {
  height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
}